# Dependencies
/node_modules

# Next.js
/.next/
/out/

# Env files
.env
.env*.local

# Misc
.DS_Store
*.pem
npm-debug.log*

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Tooling
.superpowers/
.omc/
.claude/
/docs/
